@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

/* Global variables */
:root {
  --color-primary-500: hsl(25, 97%, 53%);

  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-400: hsl(217, 12%, 63%);
  --color-neutral-500: hsl(216, 12%, 54%);
  --color-neutral-800: hsl(213, 19%, 18%);
  --color-neutral-900: hsl(216, 12%, 8%);

  --gradient-900: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );

  --font-face-default: "Overpass", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --font-size-title: clamp(1.5rem, 1.412rem + 0.3756vw, 1.75rem);
  --font-size-text: clamp(0.875rem, 0.853rem + 0.0939vw, 0.9375rem);

  --fluid-07-10: clamp(7px, 11.3636px + -0.3636vi, 10px);
  --fluid-15-30: clamp(15px, 9.7183px + 1.4085vi, 30px);
  --fluid-40-48: clamp(40px, 36.3636px + 0.9697vi, 48px);
  --fluid-42-51: clamp(42px, 37.9091px + 1.0909vi, 51px);
  --fluid-24-32: clamp(1.5rem, 1.2727rem + 0.9697vi, 2rem);
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Utility classes */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.hidden {
  display: none;
}

/* Global styles */

body {
  min-width: 375px;
  height: 100vh;
  padding: max(6.4vw, 1.5rem);
  font-family: var(--font-face-default);
  font-size: var(--font-size-text);
  background-color: var(--color-neutral-900);
}

h2 {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  color: var(--color-neutral-100);
}

p {
  color: hsl(216, 12%, 54%);
  line-height: 1.6;
}

main {
  display: grid;
  height: 100%;
  place-items: center;
}

/* Buttons */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.40625rem;
  height: 2.8125rem;
  width: 100%;
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-bold);
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.button--ghost {
  color: var(--color-neutral-500);
  background-color: var(--color-neutral-800);
}

.button--round {
  border-radius: 50%;
  width: var(--fluid-42-51);
  height: var(--fluid-42-51);
}

.button--ghost:focus {
  color: var(--color-neutral-100);
  background-color: var(--color-neutral-500);
}

.button--ghost:hover {
  color: var(--color-neutral-100);
  background-color: var(--color-primary-500);
}

.button--primary {
  color: var(--color-neutral-100);
  background-color: var(--color-primary-500);
}

.button--primary:is(:hover, :focus) {
  color: var(--color-primary-500);
  background-color: var(--color-neutral-100);
}

/* Cards */

.card {
  max-width: 412px;
  background: var(--gradient-900);
  border-radius: var(--fluid-15-30);
  padding: min(6.4vw, 2rem);
}

.rating__img {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: var(--color-neutral-800);
  width: var(--fluid-40-48);
  height: var(--fluid-40-48);
}

.rating__img img {
  width: 40%;
  height: auto;
}

.rating__title {
  margin-top: var(--fluid-15-30);
}

.rating__text,
.thank-you__text {
  margin-top: var(--fluid-07-10);
}

.rating ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 1.5rem;
}

.rating > button {
  margin-bottom: 0.5rem;
}

.thank-you {
  text-align: center;
}

.thank-you img {
  margin-inline: auto;
  width: 40%;
  height: auto;
}

.thank-you__rating {
  display: inline-block;
  maring-inline: auto;
  margin-block: var(--fluid-24-32);
  border-radius: 1.40625rem;
  padding-inline: 1.25rem;
  padding-block: 0.25rem;
  color: var(--color-primary-500);
  background-color: var(--color-neutral-800);
}

.thank-you__text {
  margin-bottom: 0.8125rem;
}
