@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

/* Global variables */
:root {
  --color-primary-500: hsl(25, 97%, 53%);

  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-400: hsl(217, 12%, 63%);
  --color-neutral-500: hsl(216, 12%, 54%);
  --color-neutral-800: hsl(213, 19%, 18%);
  --color-neutral-900: hsl(216, 12%, 8%);

  --gradient-900: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );

  --font-face-default: "Overpass", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --font-size-title: clamp(1.5rem, 1.412rem + 0.3756vw, 1.75rem);
  --font-size-text: clamp(0.875rem, 0.853rem + 0.0939vw, 0.9375rem);
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

svg {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* Utility classes */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.hidden {
  display: none;
}

/* Global styles */

body {
  min-width: 375px;
  height: 100vh;
  padding: max(6.4vw, 1.5rem);
  font-family: var(--font-face-default);
  font-size: var(--font-size-text);
  background-color: var(--color-neutral-900);
}

h2 {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  color: var(--color-neutral-100);
}

p {
  color: hsl(216, 12%, 54%);
  line-height: 1.6;
}

main {
  display: grid;
  height: 100%;
  place-items: center;
}

/* Card */

.card {
  max-width: 412px;
  background: var(--gradient-900);
  border-radius: clamp(0.9375rem, 0.6074rem + 1.4085vw, 1.875rem);
  padding: min(6.4vw, 2rem);
}
