@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

/* Global variables */
:root {
  --color-primary-500: hsl(25, 97%, 53%);

  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-400: hsl(217, 12%, 63%);
  --color-neutral-500: hsl(216, 12%, 54%);
  --color-neutral-800: hsl(213, 19%, 18%);
  --color-neutral-900: hsl(216, 12%, 8%);

  --font-face-default: "Overpass", sans-serif;
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles */

/* Utility classes */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}
